<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Food</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand"> {{ restaurantName}} </a>
                    <ul class="navbar-right">
                        <button v-on:click="displayCart = !displayCart"
                            style="border:none; background-color: transparent;">
                            <a href="#" id="cartlogo">Panier<i class="fa fa-shopping-cart"></i><span class="badge"
                                    v-on:click="displayCart = !displayCart"></span>
                                ({{ this.totalOfProducts }})</span></a>
                        </button>
                    </ul>
                    <!--end navbar-right -->
                </div>
            </nav>
        </header>
        <!--  panier  -->
        <transition name="fade">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="cart" v-show="displayCart">
                            <span v-show="this.totalAmount == 0">Votre panier est vide</span>
                            <ul>
                                <li v-for="item in products" v-if="item.ordered > 0">
                                    <span class="fake_button" v-on:click="item.ordered += 1"><i class="fa fa-plus"
                                            aria-hidden="true"></i></span>
                                    <span class="fake_button" v-on:click="item.ordered -= 1"><i class="fa fa-minus"
                                            aria-hidden="true"></i></span> <!-- ne peut être négatif-->
                                    &nbsp
                                    {{item.name}} : x {{item.ordered}}
                                    <span class="float-right left_margin">{{item.price * item.ordered}}€</span>
                                </li>
                            </ul>
                            <p>
                                <hr />Total : <button
                                    class="float-right btn btn-outline-success left_margin">{{this.totalAmount }}
                                    €</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="wrapper">
            <div class="container product-list">
                <div class="row">
                    <div class="col">
                        <h2>Bienvenue chez {{ restaurantName }} <span class="float-right" /></h2>
                    </div>
                    <div class='col-2'>
                        <select v-model="selected" class="form-control">
                            <option selected>Tout</option>
                            <option>Plats</option>
                            <option>Desserts</option>
                        </select>
                    </div>

                </div>
                <div class container>
                    <div class="row">
                        <itemdetails v-for="item in products" v-bind:item="item" v-on:item-added="addToOrder"
                            v-on:item-removed="removeFromOrder" v-if="selected == 'Tout' || item.category == selected">
                        </itemdetails>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">

                    <nav>
                        <router-link to="/contact">Contact</router-link>
                        <router-link to="/about">A propos</router-link>
                    </nav>
                </div>
                <div class="row">
                    <router-view></router-view>
                </div>

            </div>
    </div>
    </footer>
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>

</html>